@font-face {
  font-family: "GTWalsheim";
  src: url("/fonts/GTWalsheim/GT-Walsheim-Pro-Medium.woff") format("woff");
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body{
  font-family: 'GTWalsheim', sans-serif;

  &.is-overflow{
    overflow: hidden;
  }
}


a,
a:active,
a:visited,
a:hover,
a:focus{
  cursor: pointer;
  text-decoration: none;
}

button,
button:active,
button:visited,
button:hover,
button:focus{
  cursor: pointer;
  outline: none;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

img{
  border-radius: 2px;
}

.app-label{
  width: 100%;
}