$color_gray: #d7d7d7;
$color_blue: #0062fd;
$color_yellow: #ffd700;

// layout
$app_sidebar_width: 250px;
$app_sidebar_width_min: 60px;
$app_content_top: 65px;

// player
$player_height: 80px;

// playlist drawer
$playlist_drawer_width: 350px;

// player list
$player_list_width: 300px;

